name: 'Aurora'
scopeName: 'source.aurora'
fileTypes: [
  'aurora'
]
type: 'tree-sitter'
parser: 'tree-sitter-aurora'

comments:
  start: '// '

scopes:
  'source_file': 'source.aurora'
  'identifier': 'builtin.variable'
  'function_definition': 'meta.defintion.function'
  'function_call': 'meta.function'
  'variable_definition': 'meta.definition.variable'
  'function_return_type': 'builtin.type'
